
h1 {
    text-align: center;
}


.container{
    display:flex;
    flex-wrap: wrap;
    padding: 20px;
    
  
}
#right {
    float: right;
    width: 50%;
    height: auto;
    background-color: #95a7c794;
    border-radius: 4px;
  }
.main{
    padding: 50px;
  
}
.name .surname .phome .email{
    height: 50px;
    width:200px;
    border: 1px, solid, rgb(63, 49, 49);
}
.input_container {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    padding: 10%;
  }

.illustration{
    float: left;
    max-width: 50%;
    border-radius: 4px;
    object-fit: cover;
    height: auto;
}
.button {
    background-color: #4CAF50;
    border: none;
    color: white;
    padding: 15px 32px;
    display: flex;
    justify-content: center;
    text-decoration: none;
    font-size: 16px;
  }
  @media print and (max-width: 800px) {
    body {
        background: blue;
    }
    #right {
        width: 100%;
        display: block;
    }
    #illustration{
    width: 100%;
}